# Import packages and data

In [1]:
# Packages for data manipulation
import numpy as np
import pandas as pd

In [2]:
# Packages for dataviz
import plotly.express as px
import plotly.tools as tls
import cufflinks as cf

# offline configuration of cufflinks
cf.go_offline()

In [3]:
template = "plotly_dark"

In [4]:
# Machine learning packages
#from sklearn import preprocessing, metrics

In [5]:
# Load the data
data = pd.read_csv('../data/raw.csv')

# Quick look at the dataset

In [6]:
data.head()

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,958,https://www.airbnb.com/rooms/958,2.019100e+13,10/14/19,"Bright, Modern Garden Unit - 1BR/1B",New update: the house next door is under const...,"Newly remodeled, modern, and bright garden uni...",New update: the house next door is under const...,none,*Quiet cul de sac in friendly neighborhood *St...,...,f,f,moderate,f,f,1,1,0,0,1.74
1,3850,https://www.airbnb.com/rooms/3850,2.019100e+13,10/14/19,Charming room for two,Your own private room plus access to a shared ...,This room can fit two people. Nobody else will...,Your own private room plus access to a shared ...,none,"This is a quiet, safe neighborhood on a substa...",...,f,f,strict_14_with_grace_period,f,f,3,0,3,0,1.28
2,5858,https://www.airbnb.com/rooms/5858,2.019100e+13,10/14/19,Creative Sanctuary,NaN,We live in a large Victorian house on a quiet ...,We live in a large Victorian house on a quiet ...,none,I love how our neighborhood feels quiet but is...,...,f,f,strict_14_with_grace_period,f,f,1,1,0,0,0.87
3,7918,https://www.airbnb.com/rooms/7918,2.019100e+13,10/14/19,A Friendly Room - UCSF/USF - San Francisco,Nice and good public transportation. 7 minute...,"Settle down, S.F. resident, student, hospital,...",Nice and good public transportation. 7 minute...,none,"Shopping old town, restaurants, McDonald, Whol...",...,f,f,strict_14_with_grace_period,f,f,9,0,9,0,0.15
4,8142,https://www.airbnb.com/rooms/8142,2.019100e+13,10/14/19,Friendly Room Apt. Style -UCSF/USF - San Franc...,Nice and good public transportation. 7 minute...,"Settle down, S.F. resident, student, hospital,...",Nice and good public transportation. 7 minute...,none,NaN,...,f,f,strict_14_with_grace_period,f,f,9,0,9,0,0.13

In [7]:
#data.columns
print(data.dtypes)
print("\n")
print(data.dtypes.value_counts())

id                                                int64
listing_url                                      object
scrape_id                                       float64
last_scraped                                     object
name                                             object
summary                                          object
space                                            object
description                                      object
experiences_offered                              object
neighborhood_overview                            object
notes                                            object
transit                                          object
access                                           object
interaction                                      object
house_rules                                      object
thumbnail_url                                   float64
medium_url                                      float64
picture_url                                      object
xl_picture_url                                  float64
host_id                                           int64
host_url                                         object
host_name                                        object
host_since                                       object
host_location                                    object
host_about                                       object
host_response_time                               object
host_response_rate                               object
host_acceptance_rate                            float64
host_is_superhost                                object
host_thumbnail_url                               object
                                                 ...
has_availability                                 object
availability_30                                   int64
availability_60                                   int64
availability_90                                   int64
availability_365                                  int64
calendar_last_scraped                            object
number_of_reviews                                 int64
number_of_reviews_ltm                             int64
first_review                                     object
last_review                                      object
review_scores_rating                            float64
review_scores_accuracy                          float64
review_scores_cleanliness                       float64
review_scores_checkin                           float64
review_scores_communication                     float64
review_scores_location                          float64
review_scores_value                             float64
requires_license                                 object
license                                          object
jurisdiction_names                               object
instant_bookable                                 object
is_business_travel_ready                         object
cancellation_policy                              object
require_guest_profile_picture                    object
require_guest_phone_verification                 object
calculated_host_listings_count                    int64
calculated_host_listings_count_entire_homes       int64
calculated_host_listings_count_private_rooms      int64
calculated_host_listings_count_shared_rooms       int64
reviews_per_month                               float64
Length: 106, dtype: object


object     62
float64    24
int64      20
dtype: int64

Since there are many columns, we will look at the data type by type.

## TODO

* En regardant rapidement les colonnes sur kaggle, on constate que certaines ont l'air de contenir qu'une seule valeur (par exemple "country_code" = US). Il faut donc les supprimer.
* Il faut recoder les booléens qui sont considéré comme des string.

## Morceaux de documentation sur la description des colonnes
* https://rstudio-pubs-static.s3.amazonaws.com/365075_ec9ebe4da4cc465ba9beaef25cda6bad.html
* https://www.kaggle.com/dgomonov/new-york-city-airbnb-open-data

In [8]:
col_to_drop = []
row_to_drop = []

# Exploration des colonnes de type *int*

In [9]:
data_int = data.select_dtypes(include='int64')

In [10]:
data_int.head()

,id,host_id,accommodates,guests_included,minimum_nights,maximum_nights,minimum_minimum_nights,maximum_minimum_nights,minimum_maximum_nights,maximum_maximum_nights,availability_30,availability_60,availability_90,availability_365,number_of_reviews,number_of_reviews_ltm,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms
0,958,1169,3,2,1,30,1,1,30,30,3,8,16,85,217,52,1,1,0,0
1,3850,4921,2,2,1,5,1,1,5,5,5,32,62,62,160,36,3,0,3,0
2,5858,8904,5,2,30,60,30,30,60,60,0,0,0,0,111,0,1,1,0,0
3,7918,21994,2,1,32,60,32,32,60,60,30,60,90,365,18,1,9,0,9,0
4,8142,21994,2,1,32,90,32,32,90,90,30,60,90,365,8,0,9,0,9,0

In [11]:
# Histogram of all columns
# data_int.iplot(kind='box', filename='cufflinks/box-plots', world_readable=True)

In [12]:
data_int.columns

Index(['id', 'host_id', 'accommodates', 'guests_included', 'minimum_nights',
       'maximum_nights', 'minimum_minimum_nights', 'maximum_minimum_nights',
       'minimum_maximum_nights', 'maximum_maximum_nights', 'availability_30',
       'availability_60', 'availability_90', 'availability_365',
       'number_of_reviews', 'number_of_reviews_ltm',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms'],
      dtype='object')

## Colonnes *Id* et *host_id*

In [13]:
data_int.shape

(8111, 20)

In [14]:
data_int["id"].nunique()

8111

In [15]:
data_int["host_id"].value_counts()

48005494     248
219930816    178
107434423    170
4430421      102
70722023      44
117141107     43
173206762     43
38836         41
262211596     40
103340667     37
64646820      37
141944806     36
55782784      36
47514427      35
267895362     35
1682188       35
263502162     34
20678148      32
17042045      31
6346492       29
13832870      28
112282150     27
24157036      27
173416916     27
91333416      26
30283594      26
1892430       26
22931450      25
1479964       25
1257432       21
            ...
750320         1
2198311        1
170361642      1
10274243       1
1590094        1
11218165       1
627552         1
14654989       1
223730525      1
156562268      1
21337159       1
424793         1
136644372      1
701268         1
951122         1
12192591       1
8577866        1
582450         1
244771655      1
4422469        1
1125797        1
234376095      1
29959736       1
77013822       1
334653         1
13103932       1
300837042      1
4335499        1
1182515        1
1281984        1
Name: host_id, Length: 4303, dtype: int64

On ne retrouve pas 2 fois le même logement, par contre on trouve plusieurs fois les mêmes hotes. La variable *id_host* peut être intéressante à étudier. Par contre, je pense qu'il n'y a pas trop d'interet à garder la variable *id*.

In [16]:
col_to_drop.append("id")

## Colonnes *Min/Max nights*

In [17]:
#data_int.iplot(kind='box', filename='cufflinks/box-plots', world_readable=True,
#               columns = ['minimum_nights', 'maximum_nights', 'minimum_minimum_nights', 
#                          'maximum_minimum_nights', 'minimum_maximum_nights', 'maximum_maximum_nights'])

Je ne comprends vraiment pas les colonnes 
* *minimum_minimum_nights*
* *maximum_minimum_nights*
* *minimum_maximum_nights*
* *maximum_maximum_nights*  

Je propose qu'on les enleve car en plus les valeurs sont ridiculement grandes

In [18]:
col_to_drop.extend(['minimum_minimum_nights', 'maximum_minimum_nights', 
                    'minimum_maximum_nights', 'maximum_maximum_nights'])

### Colonne *minimum-nights*

In [19]:
#px.box(data_int, y="minimum_nights", points="all", template = template).show()

On peut supprimer les 3 plus grandes valeures car elles ont l'air abbérentes

In [20]:
row_to_drop.extend([data_int[data_int["minimum_nights"] == 100000000].index[0],
                    data_int[data_int["minimum_nights"] == 1125].index[0],
                    data_int[data_int["minimum_nights"] == 1000].index[0]])

In [21]:
data_int.drop(data_int[data_int["minimum_nights"] == 100000000].index, inplace=True)
data_int.drop(data_int[data_int["minimum_nights"] == 1125].index, inplace=True)
data_int.drop(data_int[data_int["minimum_nights"] == 1000].index, inplace=True)

* On constate maintenant une distribution plus "propre"
* On constate des "paliers" pour les valeurs 30, 60, 90 et 365. Est ce qu'il y a un rapport avec les variables "availibility_xx". Si c'est le cas, on risque d'avoir un problème de multicolinéarité et il faudra surement faire une selection parmi ces variables.

### Colonne *maximum_night*

In [22]:
#px.box(data_int, y="maximum_nights", points="all", template = template).show()

On peut supprimer les 4 plus grandes valeures car elles ont l'air abbérentes. Cela nous permet d'avoir des distributions plus "propres".

In [23]:
row_to_drop.extend([data_int[data_int["maximum_nights"] == 100000].index[0],
                    data_int[data_int["maximum_nights"] == 10000].index[0],
                    data_int[data_int["maximum_nights"] == 9999].index[0]])

In [24]:
data_int.drop(data_int[data_int["maximum_nights"] == 100000].index, inplace=True)
data_int.drop(data_int[data_int["maximum_nights"] == 10000].index, inplace=True)
data_int.drop(data_int[data_int["maximum_nights"] == 9999].index, inplace=True)

## Colonne *accommodates*

In [25]:
#px.histogram(data_int, x="accommodates", template = template).show()

RAS

## Colonne *guests_included*

In [26]:
#px.histogram(data_int, x="guests_included", template = template).show()

RAS

## Colonnes *availability_xx*

D'après la description de la colonne du "New York City Airbnb Dataset"

availability_365 : number of days when listing is available for booking

In [27]:
#data_int.iplot(kind='box', filename='cufflinks/box-plots', world_readable=True,
#               columns = ['availability_30', 'availability_60', 'availability_90', 'availability_365'])

In [28]:
data_int[['availability_30', 'availability_60', 'availability_90', 'availability_365']].head()

   availability_30  availability_60  availability_90  availability_365
0                3                8               16                85
1                5               32               62                62
2                0                0                0                 0
3               30               60               90               365
4               30               60               90               365

Je ne sais pas si on doit tous les garder ou si availability_365 suffit

## Colonnes *number_of_reviews* et *number_of_reviews_ltm*

LTM = Last Twelve Months

In [29]:
# px.histogram(data_int, x="number_of_reviews", marginal="box", template = template).show()
# marginal can be 'rug', 'box', 'violin'

On observe un gros pic à 0. Est ceque c'est vraiment grave?

In [30]:
tmp = data_int.copy()
tmp["number_of_reviews"] = np.log(tmp["number_of_reviews"] + 1)
#px.histogram(tmp, x="number_of_reviews", marginal="box").show()

La transformation log permet d'avoir une distribution plus proche d'une gaussienne, mais est ce qu'on en a vraiment besoin?

In [31]:
#px.histogram(data_int, x="number_of_reviews_ltm", marginal="box", template = template).show()

La distribution est similaire à la précédente.  
Après, on peut encore se poser la question : est ce pertinent de garder *number_of_reviews* et *number_of_reviews_ltm*?

## Colonnes *calculated_host_listings_x*

In [32]:
#data_int.iplot(kind='box', filename='cufflinks/box-plots', world_readable=True,
#               columns = ['calculated_host_listings_count','calculated_host_listings_count_entire_homes',
#               'calculated_host_listings_count_private_rooms','calculated_host_listings_count_shared_rooms'])

*calculated_host_listings_count* correspond au nombre de logements différents par host. Je pense qu'il faut garder les grandes valeurs.  
Par contre, est ce qu'on a besoin des 4 variables? Ou seulement la 1ere suffit (et permet d'éviter d'éventuelles colinéaritées dans les données)?

In [33]:
# px.histogram(data_int, x="calculated_host_listings_count", marginal="rug", template = template).show()

On peut donc observer que peu de personnes possèdent une grande partie des logements Airbnb de San Francisco. Je pense que ces valeurs "abbérentes" sont intéressantes à étudier.

# Exploration des colonnes de type *float*

In [34]:
data_float = data.select_dtypes(include='float64')

In [35]:
data_float.head()

,scrape_id,thumbnail_url,medium_url,xl_picture_url,host_acceptance_rate,host_listings_count,host_total_listings_count,neighbourhood_group_cleansed,latitude,longitude,...,minimum_nights_avg_ntm,maximum_nights_avg_ntm,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,reviews_per_month
0,2.019100e+13,NaN,NaN,NaN,NaN,1.0,1.0,NaN,37.76931,-122.43386,...,1.0,30.0,97.0,10.0,10.0,10.0,10.0,10.0,9.0,1.74
1,2.019100e+13,NaN,NaN,NaN,NaN,2.0,2.0,NaN,37.75402,-122.45805,...,1.0,5.0,94.0,10.0,10.0,10.0,10.0,10.0,10.0,1.28
2,2.019100e+13,NaN,NaN,NaN,NaN,2.0,2.0,NaN,37.74511,-122.42102,...,30.0,60.0,98.0,10.0,10.0,10.0,10.0,10.0,9.0,0.87
3,2.019100e+13,NaN,NaN,NaN,NaN,10.0,10.0,NaN,37.76669,-122.45250,...,32.0,60.0,86.0,8.0,8.0,9.0,9.0,9.0,8.0,0.15
4,2.019100e+13,NaN,NaN,NaN,NaN,10.0,10.0,NaN,37.76487,-122.45183,...,32.0,90.0,93.0,9.0,9.0,10.0,10.0,9.0,9.0,0.13

Beaucoup de colonnes ont l'air d'être des entiers castés en float. Il faudrait les retransformer en entier.

In [36]:
to_int = []

In [37]:
# Histogram of all columns
# data_float.iplot(kind='box', filename='cufflinks/box-plots', world_readable=True)

In [38]:
data_float.columns

Index(['scrape_id', 'thumbnail_url', 'medium_url', 'xl_picture_url',
       'host_acceptance_rate', 'host_listings_count',
       'host_total_listings_count', 'neighbourhood_group_cleansed', 'latitude',
       'longitude', 'bathrooms', 'bedrooms', 'beds', 'square_feet',
       'minimum_nights_avg_ntm', 'maximum_nights_avg_ntm',
       'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'reviews_per_month'],
      dtype='object')

## Colonnes à supprimer

*scrape_id* fait référence à la récolte des données, ce n'a donc pas de rapport avec notre problème. Nous pouvons donc supprimer cette colonne.

In [39]:
data_float.shape

(8111, 24)

In [40]:
print(data_float["thumbnail_url"].isna().sum())
print(data_float["medium_url"].isna().sum())
print(data_float["xl_picture_url"].isna().sum())
print(data_float["host_acceptance_rate"].isna().sum())
print(data_float["neighbourhood_group_cleansed"].isna().sum())

8111
8111
8111
8111
8111

Les colonnes *thumbnail_url*, *medium_url*, *xl_picture_url*, *host_acceptance_rate* et *neighbourhood_group_cleansed* ne contiennent que des NAN. On peut donc les retirer.

In [41]:
col_to_drop.extend(["scrape_id", "thumbnail_url", "medium_url", "xl_picture_url",
                 "host_acceptance_rate", "neighbourhood_group_cleansed"])

In [42]:
data_float = data_float.drop(["scrape_id", "thumbnail_url", "medium_url", "xl_picture_url",
                 "host_acceptance_rate", "neighbourhood_group_cleansed"], axis=1)
data_float.head()

,host_listings_count,host_total_listings_count,latitude,longitude,bathrooms,bedrooms,beds,square_feet,minimum_nights_avg_ntm,maximum_nights_avg_ntm,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,reviews_per_month
0,1.0,1.0,37.76931,-122.43386,1.0,1.0,2.0,NaN,1.0,30.0,97.0,10.0,10.0,10.0,10.0,10.0,9.0,1.74
1,2.0,2.0,37.75402,-122.45805,1.0,1.0,1.0,NaN,1.0,5.0,94.0,10.0,10.0,10.0,10.0,10.0,10.0,1.28
2,2.0,2.0,37.74511,-122.42102,1.0,2.0,3.0,NaN,30.0,60.0,98.0,10.0,10.0,10.0,10.0,10.0,9.0,0.87
3,10.0,10.0,37.76669,-122.45250,4.0,1.0,1.0,NaN,32.0,60.0,86.0,8.0,8.0,9.0,9.0,9.0,8.0,0.15
4,10.0,10.0,37.76487,-122.45183,4.0,1.0,1.0,NaN,32.0,90.0,93.0,9.0,9.0,10.0,10.0,9.0,9.0,0.13

In [43]:
data_float.columns

Index(['host_listings_count', 'host_total_listings_count', 'latitude',
       'longitude', 'bathrooms', 'bedrooms', 'beds', 'square_feet',
       'minimum_nights_avg_ntm', 'maximum_nights_avg_ntm',
       'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'reviews_per_month'],
      dtype='object')

In [44]:
# px.histogram(data_int, x="calculated_host_listings_count", marginal="rug", template = template).show()

In [45]:
# px.histogram(data_float, x="host_listings_count", marginal="rug", template = template).show()

In [46]:
# px.histogram(data_float, x="host_total_listings_count", marginal="rug", template = template).show()

In [47]:
tmp = data_float["host_listings_count"] - data_float["host_total_listings_count"]

In [48]:
print(data_float["host_listings_count"].shape)
print(data_float["host_total_listings_count"].shape)
print(tmp.shape)
print(tmp.describe())

(8111,)
(8111,)
(8111,)
count    8103.0
mean        0.0
std         0.0
min         0.0
25%         0.0
50%         0.0
75%         0.0
max         0.0
dtype: float64

On constate que les colonnes *host_listings_count* et *host_total_listings_count*  sont identiques. On peut donc supprimer l'une des 2.  
On peut aussi ce demander si on garde *host_listings_count* et *calculated_host_listings_count*. Est ce redondant de garder les 2?

In [49]:
col_to_drop.append("host_total_listings_count")
to_int.append("host_listings_count")

## Colonne *square_feet*

In [50]:
tot = data_float["square_feet"].shape
nb = data_float["square_feet"].isna().sum()

print("Nombre de valeurs ayant une superficie : "
      + str((tot - nb)[0]) )

print("Cela représente " + str(( (100*(tot - nb))/nb )[0]) + "% de nos données")

Nombre de valeurs ayant une superficie : 124
Cela représente 1.5525228496306498% de nos données

Il va falloir réflechir à comment traiter ces valeurs manquantes (dans le notebook suivant)

In [51]:
to_int.append("square_feet")

## Colonnes *reviews_score_xxx*

Le but de notre projet est de prédire la note obtenue pour un logement. Pour cela, il faut choisir quelle note nous allons essayer de prédire.  
Nous pouvons fixer **review_score_rating** comme etant la variable à predire.  
Pour eviter les problèmes de *data leakage*, nous pouvons supposer que nous allons prédire **review_score_rating** sans regarder les autres variables *review_score_xxx*.

In [52]:
col_to_drop.extend(['review_scores_accuracy', 'review_scores_cleanliness',
                    'review_scores_checkin', 'review_scores_communication',
                    'review_scores_location', 'review_scores_value', 'reviews_per_month'])

## Colonnes *bathrooms*, *bedrooms* et *beds*

In [53]:
#data_float.iplot(kind='box', filename='cufflinks/box-plots', world_readable=True,
#               columns = ['bathrooms', 'bedrooms', 'beds'])

RAS

In [54]:
to_int.extend(['bathrooms', 'bedrooms', 'beds'])

## Colonnes *minimum_nights_avg_ntm* et *maximum_nights_avg_ntm*

D'après cette source (https://eprints.ucm.es/57354/1/TFM_Rentalbility_PriscillaToscano_VF_160919.pdf)  
minimum_nights_avg_ntm = Minimum Nights in Avg from last Twelve Month, ce qui me parait etrange

In [55]:
to_int.extend(['minimum_nights_avg_ntm', 'maximum_nights_avg_ntm'])

In [56]:
#data_float.iplot(kind='box', filename='cufflinks/box-plots', world_readable=True,
#               columns = ['minimum_nights_avg_ntm', 'maximum_nights_avg_ntm'])

In [57]:
# px.histogram(data_float, x="minimum_nights_avg_ntm", marginal="rug", template = template).show()

In [58]:
row_to_drop.extend([data_float[data_float["minimum_nights_avg_ntm"] == 100000000.0].index[0],
                    data_float[data_float["minimum_nights_avg_ntm"] == 1125].index[0],
                    data_float[data_float["minimum_nights_avg_ntm"] == 1000].index[0]])

In [59]:
data_float.drop(data_float[data_float["minimum_nights_avg_ntm"] == 100000000.0].index, inplace=True)
data_float.drop(data_float[data_float["minimum_nights_avg_ntm"] == 1000].index, inplace=True)
data_float.drop(data_float[data_float["minimum_nights_avg_ntm"] == 1125].index, inplace=True)

In [60]:
#px.histogram(data_float, x="maximum_nights_avg_ntm", marginal="rug", template = template).show()

In [61]:
row_to_drop.extend([data_float[data_float["maximum_nights_avg_ntm"] == 2147483647.0].index[0],
                    data_float[data_float["maximum_nights_avg_ntm"] == 100000.0].index[0],
                    data_float[data_float["maximum_nights_avg_ntm"] == 10000.0].index[0],
                    data_float[data_float["maximum_nights_avg_ntm"] == 9999.0].index[0],
                    data_float[data_float["maximum_nights_avg_ntm"] == 2000.0].index[0],
                    data_float[data_float["maximum_nights_avg_ntm"] == 1825.0].index[0]])

In [62]:
data_float.drop(data_float[data_float["maximum_nights_avg_ntm"] == 2147483647.0].index, inplace=True)
data_float.drop(data_float[data_float["maximum_nights_avg_ntm"] == 100000.0].index, inplace=True)
data_float.drop(data_float[data_float["maximum_nights_avg_ntm"] == 10000.0].index, inplace=True)
data_float.drop(data_float[data_float["maximum_nights_avg_ntm"] == 9999.0].index, inplace=True)
data_float.drop(data_float[data_float["maximum_nights_avg_ntm"] == 2000.0].index, inplace=True)
data_float.drop(data_float[data_float["maximum_nights_avg_ntm"] == 1825.0].index, inplace=True)

## Colonnes *latitude* et *longitude*

Il faudra réflechir à comment représenter voir si on garde ces données. Si oui, il faudra trouver comment les préparer.

# Colonnes de type *Obj*

In [63]:
data_object = data.select_dtypes(include='object')

In [64]:
data_object.head()

,listing_url,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,notes,transit,...,first_review,last_review,requires_license,license,jurisdiction_names,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification
0,https://www.airbnb.com/rooms/958,10/14/19,"Bright, Modern Garden Unit - 1BR/1B",New update: the house next door is under const...,"Newly remodeled, modern, and bright garden uni...",New update: the house next door is under const...,none,*Quiet cul de sac in friendly neighborhood *St...,Due to the fact that we have children and a do...,*Public Transportation is 1/2 block away. *Ce...,...,7/23/09,9/21/19,t,STR-0001256,"{""SAN FRANCISCO""}",f,f,moderate,f,f
1,https://www.airbnb.com/rooms/3850,10/14/19,Charming room for two,Your own private room plus access to a shared ...,This room can fit two people. Nobody else will...,Your own private room plus access to a shared ...,none,"This is a quiet, safe neighborhood on a substa...",House Rule footnotes: 1.\tI don’t allow check ...,Public transit service to my house is outstand...,...,7/16/09,9/30/19,t,STR-0000346,"{""SAN FRANCISCO""}",f,f,strict_14_with_grace_period,f,f
2,https://www.airbnb.com/rooms/5858,10/14/19,Creative Sanctuary,NaN,We live in a large Victorian house on a quiet ...,We live in a large Victorian house on a quiet ...,none,I love how our neighborhood feels quiet but is...,All the furniture in the house was handmade so...,The train is two blocks away and you can stop ...,...,5/3/09,8/6/17,t,NaN,"{""SAN FRANCISCO""}",f,f,strict_14_with_grace_period,f,f
3,https://www.airbnb.com/rooms/7918,10/14/19,A Friendly Room - UCSF/USF - San Francisco,Nice and good public transportation. 7 minute...,"Settle down, S.F. resident, student, hospital,...",Nice and good public transportation. 7 minute...,none,"Shopping old town, restaurants, McDonald, Whol...",Wi-Fi signal in common areas. Large eat in k...,N Juda Muni and bus stop. Street parking.,...,8/31/09,9/10/19,t,NaN,"{""SAN FRANCISCO""}",f,f,strict_14_with_grace_period,f,f
4,https://www.airbnb.com/rooms/8142,10/14/19,Friendly Room Apt. Style -UCSF/USF - San Franc...,Nice and good public transportation. 7 minute...,"Settle down, S.F. resident, student, hospital,...",Nice and good public transportation. 7 minute...,none,NaN,Wi-Fi signal in common areas. Large eat in k...,"N Juda Muni, Bus and UCSF Shuttle. small shopp...",...,9/8/14,9/12/18,t,NaN,"{""SAN FRANCISCO""}",f,f,strict_14_with_grace_period,f,f

In [65]:
data_object.columns

Index(['listing_url', 'last_scraped', 'name', 'summary', 'space',
       'description', 'experiences_offered', 'neighborhood_overview', 'notes',
       'transit', 'access', 'interaction', 'house_rules', 'picture_url',
       'host_url', 'host_name', 'host_since', 'host_location', 'host_about',
       'host_response_time', 'host_response_rate', 'host_is_superhost',
       'host_thumbnail_url', 'host_picture_url', 'host_neighbourhood',
       'host_verifications', 'host_has_profile_pic', 'host_identity_verified',
       'street', 'neighbourhood', 'neighbourhood_cleansed', 'city', 'state',
       'zipcode', 'market', 'smart_location', 'country_code', 'country',
       'is_location_exact', 'property_type', 'room_type', 'bed_type',
       'amenities', 'price', 'weekly_price', 'monthly_price',
       'security_deposit', 'cleaning_fee', 'extra_people', 'calendar_updated',
       'has_availability', 'calendar_last_scraped', 'first_review',
       'last_review', 'requires_license', 'license', 'jurisdiction_names',
       'instant_bookable', 'is_business_travel_ready', 'cancellation_policy',
       'require_guest_profile_picture', 'require_guest_phone_verification'],
      dtype='object')

La variable *last_scraped* n'est pas pertinente dans notre étude. Dans cette étude, nous allons aussi supprimer les variables contenant seulement des *url*.

In [66]:
col_to_drop.extend(['listing_url', 'last_scraped', 'picture_url', 'host_url', 'calendar_last_scraped'])

In [67]:
data_object = data_object.drop(['listing_url', 'last_scraped', 'picture_url',
                                'host_url', 'calendar_last_scraped'], axis=1)

## TODO
* Bien caster les dates et les booléens
* Trouver les colonnes "inutiles" ou constantes
* Discrétiser les variables (en faisant attention au leakage)
* Voir comment traiter les données textuelles

In [68]:
data_object.columns

Index(['name', 'summary', 'space', 'description', 'experiences_offered',
       'neighborhood_overview', 'notes', 'transit', 'access', 'interaction',
       'house_rules', 'host_name', 'host_since', 'host_location', 'host_about',
       'host_response_time', 'host_response_rate', 'host_is_superhost',
       'host_thumbnail_url', 'host_picture_url', 'host_neighbourhood',
       'host_verifications', 'host_has_profile_pic', 'host_identity_verified',
       'street', 'neighbourhood', 'neighbourhood_cleansed', 'city', 'state',
       'zipcode', 'market', 'smart_location', 'country_code', 'country',
       'is_location_exact', 'property_type', 'room_type', 'bed_type',
       'amenities', 'price', 'weekly_price', 'monthly_price',
       'security_deposit', 'cleaning_fee', 'extra_people', 'calendar_updated',
       'has_availability', 'first_review', 'last_review', 'requires_license',
       'license', 'jurisdiction_names', 'instant_bookable',
       'is_business_travel_ready', 'cancellation_policy',
       'require_guest_profile_picture', 'require_guest_phone_verification'],
      dtype='object')

In [69]:
var_text = []
var_text.extend(['name', 'summary', 'space', 'description', 'neighborhood_overview', 'notes',
                'transit', 'access', 'interaction', 'house_rules', 'zipcode'])

## Colonne *experienced_offered*

In [70]:
print(data_object.shape)
(data_object['experiences_offered'] == "none").sum()

(8111, 57)

8111

In [71]:
col_to_drop.append('experiences_offered')
data_object = data_object.drop(['experiences_offered'], axis=1)

La colonne *experiences_offered* contient seulement des "nones". Nous pouvons donc retirer cette colonne.

## Les colonnes *host_xxx*

# Analyse actuelle

In [72]:
print(['host_name', 'host_since',
       'host_location', 'host_about', 'host_response_time',
       'host_response_rate', 'host_is_superhost', 'host_thumbnail_url',
       'host_picture_url', 'host_neighbourhood', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified'])

['host_name', 'host_since', 'host_location', 'host_about', 'host_response_time', 'host_response_rate', 'host_is_superhost', 'host_thumbnail_url', 'host_picture_url', 'host_neighbourhood', 'host_verifications', 'host_has_profile_pic', 'host_identity_verified']

In [73]:
col_to_drop.append('host_name')

Cette variable n'a pas l'air pertinente dans notre étude

In [74]:
data_object['host_since'].head()

0    7/31/08
1    12/8/08
2     3/2/09
3    6/17/09
4    6/17/09
Name: host_since, dtype: object

In [75]:
data_object['host_since'] = data_object['host_since'].astype('datetime64[ns]')

In [76]:
data_object['host_location'].value_counts()

San Francisco, California, United States                    6190
US                                                           764
New York, New York, United States                            224
Los Angeles, California, United States                       122
California, United States                                     59
San Diego, California, United States                          47
Calgary, Alberta, Canada                                      44
Penn Valley, California, United States                        35
Birmingham, Alabama, United States                            34
San Anselmo, California, United States                        28
Tigard, Oregon, United States                                 27
Denver, Colorado, United States                               27
Hawthorne, New Jersey, United States                          26
Victoria, British Columbia, Canada                            26
Irvine, California, United States                             19
Miami, Florida, United States                                 17
United States                                                 16
Reno, Nevada, United States                                   15
Daly City, California, United States                          14
Berkeley, California, United States                           13
New Orleans, Louisiana, United States                         13
IT                                                            11
Palm Springs, California, United States                       10
Alameda, California, United States                            10
Palo Alto, California, United States                           8
San Jose, California, United States                            8
Diamond Bar, California, United States                         7
IN                                                             7
West Palm Beach, Florida, United States                        6
San Rafael, California, United States                          6
                                                            ...
Orlando, Florida, United States                                1
Newport Beach, California, United States                       1
Las Vegas, Nevada, United States                               1
Vancouver, British Columbia, Canada                            1
Antioch, California, United States                             1
Princeton, New Jersey, United States                           1
Nevada City, California, United States                         1
 California, United States                                     1
Santa Barbara, California, United States                       1
Los Altos, California, United States                           1
La Rochelle, Aquitaine Limousin Poitou-Charentes, France       1
Connecticut                                                    1
Chiang Mai, Thailand                                           1
Medellín, Antioquia, Colombia                                  1
Lake Oswego, Oregon, United States                             1
Discovery Bay, California, United States                       1
Noe Valley / Bernal Heights / Mission                          1
PR                                                             1
Union City, California, United States                          1
IE                                                             1
Danville, California, United States                            1
Raleigh, North Carolina, United States                         1
Pacific Grove, California, United States                       1
San Francisco / Danville / London                              1
Portola Valley, California, United States                      1
Half Moon Bay, California, United States                       1
Concord, California, United States                             1
Incline Village, Nevada, United States                         1
Mansfield, Connecticut, United States                          1
Belvedere Tiburon, California, United States                   1
Name: host_location, Length: 176, dtype: int64

## Colonnes *neighbourhood* et *neighbourhood_cleansed*

In [77]:
data_object[['neighbourhood', 'neighbourhood_cleansed']].head()

     neighbourhood neighbourhood_cleansed
0  Duboce Triangle       Western Addition
1     Inner Sunset           Inner Sunset
2   Bernal Heights         Bernal Heights
3      Cole Valley         Haight Ashbury
4      Cole Valley         Haight Ashbury

La variable *neighbourhood_cleansed* a l'air d'être une version prétraitée de *neighbourhood*. NOus pouvons donc seulement garder *neighbourhood_cleansed*.  
Est ce qu'on traite cette colonne comme du texte ou comme une variable catégorique?

In [78]:
var_text.append('neighbourhood_cleansed')

In [79]:
col_to_drop.append('neighbourhood_cleansed')
data_object = data_object.drop(['neighbourhood_cleansed'], axis=1)

## Colonnes *state*, *country* et *country_code*

In [80]:
print(data_object['state'].value_counts())
print(data_object['country_code'].nunique())
print(data_object['country'].nunique())
print(data_object['has_availability'].nunique())
print(data_object['jurisdiction_names'].nunique())
print(data_object['is_business_travel_ready'].nunique())

CA    8101
Ca       3
Name: state, dtype: int64
1
1
1
1
1

Toutes les lignes ont la même valeur. On peut donc supprimer cette variable.

De même, les variables *has_availibility*, *jurisdiction_names* ne prend qu'une valeur

In [81]:
col_to_drop.extend(['state', 'country_code', 'has_availability', 'jurisdiction_names', 'is_business_travel_ready'])
data_object = data_object.drop(['state', 'country_code',
                                'has_availability', 'jurisdiction_names', 'is_business_travel_ready'], axis=1)

## Colonnes *city* et *smart_location*

In [82]:
data_object['city'].value_counts()

San Francisco                  8059
Daly City                        34
San Francisco                     3
Brisbane                          1
San Francisco, Hayes Valley       1
San Jose                          1
Noe Valley - San Francisco        1
旧金山                               1
Name: city, dtype: int64

In [83]:
data_object['smart_location'].value_counts()

San Francisco, CA                  8050
Daly City, CA                        34
CA                                    9
San Francisco                         6
San Francisco , CA                    3
San Francisco, Ca                     3
San Jose, CA                          1
Brisbane, CA                          1
San Francisco, Hayes Valley, CA       1
US,                                   1
Noe Valley - San Francisco, CA        1
旧金山, CA                               1
Name: smart_location, dtype: int64

In [84]:
to_cat = []
to_cat.append('city')

Est ce qu'on a vraiment besoin des 2 variables ?  
On peut garder la variable *city* pour l'instant. On peut éventuellement retirer la ligne écrite en chinois.

## Colonne *market*

In [85]:
data_object['market'].value_counts()

San Francisco    8089
D.C.                1
Name: market, dtype: int64

Est ce qu'on garde la ligne D.C. ?

## Colonnes de booléens (*is_location_exact*, )

In [86]:
to_bool = []
d = {'t': True, 'f': False}

In [87]:
print(data_object['is_location_exact'].value_counts())
print("\n")
print(data_object['requires_license'].value_counts())
print("\n")
print(data_object['instant_bookable'].value_counts())
print("\n")
print(data_object['require_guest_profile_picture'].value_counts())
print("\n")
print(data_object['require_guest_phone_verification'].value_counts())

t    6671
f    1440
Name: is_location_exact, dtype: int64


t    8057
f      54
Name: requires_license, dtype: int64


f    4763
t    3348
Name: instant_bookable, dtype: int64


f    7777
t     334
Name: require_guest_profile_picture, dtype: int64


f    7677
t     434
Name: require_guest_phone_verification, dtype: int64

In [88]:
to_bool.extend(['is_location_exact', 'requires_license', 'instant_bookable',
                'require_guest_profile_picture', 'require_guest_phone_verification'])

In [89]:
data_object['is_location_exact'] = data_object['is_location_exact'].map(d)
data_object['requires_license'] = data_object['requires_license'].map(d)
data_object['instant_bookable'] = data_object['instant_bookable'].map(d)
data_object['require_guest_profile_picture'] = data_object['require_guest_profile_picture'].map(d)
data_object['require_guest_phone_verification'] = data_object['require_guest_phone_verification'].map(d)

## Variables catégoriques (*room_type*, *property_type*

In [90]:
print(data_object['property_type'].value_counts())
print("\n")
print(data_object['room_type'].value_counts())
print("\n")
print(data_object['bed_type'].value_counts())
print("\n")
print(data_object['cancellation_policy'].value_counts())

Apartment             3243
House                 2314
Condominium            892
Guest suite            577
Boutique hotel         267
Hotel                  157
Townhouse              142
Serviced apartment     121
Hostel                  92
Loft                    88
Bed and breakfast       43
Aparthotel              41
Guesthouse              41
Other                   24
Bungalow                17
Resort                  14
Cottage                 12
Villa                   10
Castle                   4
Cabin                    3
Tiny house               3
Earth house              2
In-law                   1
Camper/RV                1
Dome house               1
Hut                      1
Name: property_type, dtype: int64


Entire home/apt    4772
Private room       2891
Shared room         241
Hotel room          207
Name: room_type, dtype: int64


Real Bed         8042
Futon              33
Pull-out Sofa      19
Airbed             11
Couch               6
Name: bed_type, dtype: int64


strict_14_with_grace_period    3601
moderate                       2605
flexible                       1735
strict                          106
super_strict_30                  45
super_strict_60                  19
Name: cancellation_policy, dtype: int64

In [91]:
to_cat.extend(['property_type', 'room_type', 'bed_type', 'cancellation_policy'])

Il faudrait réduire le nombre de catégories de *property_type*.

## Colonne *amenities*

In [92]:
data_object['amenities'].head()

0    {TV,"Cable TV",Internet,Wifi,Kitchen,"Pets liv...
1    {Internet,Wifi,Kitchen,Breakfast,"Free street ...
2    {Internet,Wifi,Kitchen,Heating,"Family/kid fri...
3    {TV,Internet,Wifi,Kitchen,"Free street parking...
4    {TV,Internet,Wifi,Kitchen,"Free street parking...
Name: amenities, dtype: object

Est ce qu'on traite cette variable comme du texte ou comme des catégories ?

## Colonnes *xxx_price*

In [93]:
data_object['price'].head()

0    $170.00
1     $99.00
2    $235.00
3     $65.00
4     $65.00
Name: price, dtype: object

In [94]:
data_object['extra_people'].head()

0    $25.00
1    $20.00
2     $0.00
3    $12.00
4    $12.00
Name: extra_people, dtype: object

On convertit le prix en entier.

In [95]:
data_object['price'] = data_object['price'].map(lambda x: int( x[1: (len(x)-4) ].replace(',', '') ))
data_object['extra_people'] = data_object['extra_people'].map(lambda x: int( x[1: (len(x)-4) ].replace(',', '') ))

Est ce qu'on garde les autres prix? Je suis d'avis de les enlever

## Colonne *security_deposit* et *cleanning_fee*

In [96]:
data_object['security_deposit'].head()

0    $100.00
1      $0.00
2         NaN
3    $200.00
4    $200.00
Name: security_deposit, dtype: object

In [97]:
data_object['cleaning_fee'].head()

0    $100.00
1     $10.00
2    $100.00
3     $50.00
4     $50.00
Name: cleaning_fee, dtype: object

In [98]:
def convert(x):
    #print(x)
    #print(x.isna())
    if x != x:        # test si x == NAN
        return x
    else:
        return int( x[1 : (len(x)-4) ].replace(',', '') )

In [99]:
data_object['security_deposit'] = data_object['security_deposit'].map(lambda x: convert(x))
data_object['cleaning_fee'] = data_object['cleaning_fee'].map(lambda x: convert(x))

## Colonne *calendar_updated*

In [100]:
data_object['calendar_updated'].head()

0    2 months ago
1      3 days ago
2     3 weeks ago
3    3 months ago
4    3 months ago
Name: calendar_updated, dtype: object

Je sais pas comment traiter cette variable

## Colonnes contenant des dates (*first_review*, *last_review*)

In [101]:
data_object['first_review'].head()

0    7/23/09
1    7/16/09
2     5/3/09
3    8/31/09
4     9/8/14
Name: first_review, dtype: object

In [102]:
data_object['last_review'].head()

0    9/21/19
1    9/30/19
2     8/6/17
3    9/10/19
4    9/12/18
Name: last_review, dtype: object

In [103]:
data_object['first_review'] = data_object['first_review'].astype('datetime64[ns]')
data_object['last_review'] = data_object['last_review'].astype('datetime64[ns]')

## Colonne *license*

In [104]:
data_object['license'].value_counts()

City registration pending                 797
License not needed per OSTR               474
City Registration Pending                  83
1083521                                    32
1078479                                    29
city registration pending                  27
365804                                     24
933345                                     22
382559                                     18
1003249                                    16
Licensed Hotel/B&B                         14
428539                                     14
CITY REGISTRATION PENDING                  14
1031137                                    13
1080289                                    12
BAN-1030905                                12
394267                                     10
FY 2017-18                                 10
STR-0001234                                10
421763                                     10
STR-0001537                                 8
STR-0001690                                 8
390024                                      7
1105659                                     7
1008731                                     7
1013041                                     6
STR-0003189                                 6
STR-0003223                                 6
STR-0000478                                 6
1104088                                     5
                                         ...
STR-0002084                                 1
STR-0001829                                 1
1087296                                     1
STR-0003114                                 1
CIty registration pending                   1
STR-0003461                                 1
STR-0002372                                 1
STR-0000301                                 1
STR-0003597                                 1
City Registration Pending - BAN1024460      1
STR-0002564                                 1
3713323005                                  1
STR-0002352                                 1
STR-0000222                                 1
STR-0001113                                 1
STR-0001940                                 1
STR-0003538                                 1
STR-0000245                                 1
STR-0001822                                 1
STR-0000071                                 1
STR-0001502                                 1
STR-0002952                                 1
STR-0001167                                 1
STR-0001349                                 1
STR-0002686                                 1
STR-0003178                                 1
STR-0000072                                 1
STR-0000035                                 1
STR-0003085                                 1
STR-0002944                                 1
Name: license, Length: 2554, dtype: int64

Est ce qu'on considere cette variable comme etant catégorique ou on l'enleve?